<div class="panel panel-info">
	<div class="panel-heading">
		
		<h2><a class="btn btn-default" href="javascript:history.go(-1)">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</a>
			{{post.title}}  
		</h2>
	</div>
<!--
	<form ng-submit="addComment()" style="margin-top: 50px">
			<h3> Submit Your Comment </h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="New comment here" ng-model="comtitle"></input>
			</div>
			<button type="submit" class="btn btn-primary">Suggest</button>
	</form>	
-->


  <form ng-submit="addComment()" style="margin-top: 15px" class="ng-pristine ng-valid">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Add a comment, press enter" ng-model="comtitle">
	</div>
  </form>
	
  <ul class="list-group" >
	<li class="list-group-item" ng-repeat="onecomment in post.comments | orderBy:'-upvotes'">
	  	{{ onecomment.body }}
		<p>	
<!--			<span class="glyphicon glyphicon-plus-sign" ng-click="upComVote(onecomment)"></span> Upvotes: {{onecomment.upvotes}}-->
			<button type="button" class="btn btn-primary" ng-click="upVote(onecomment)"><span class="glyphicon glyphicon-thumbs-up"></span> Votes: {{onecomment.upvotes}}</button>
		</p>
	  </li>
  </ul>


</div>

